body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #4b90f1;
  align-items: center;
  text-align: center;
  h1{
    margin-top: 70px;
    margin-bottom: 50px ;
    font-family: Brush Script MT , cursive;
    color: #58f2e5;
    font-size: 50px;
  }
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;

}

nav button {
  background-color: #007bff;
  color: #cdd43f;
  border: solid 2px #41ede7;
  padding: 10px 20px;
  cursor: pointer;
  font-family: cursive ;
  
}
#calendar { 
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-left: 370px;
  margin-top: 50px;
}

#calendar table {
  width: 100%;
}

#calendar th,
#calendar td {
  border: 1px solid #58f2e5;
  padding: 10px;
  text-align: center;
}
